@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}
a{
    text-decoration: none;
}
/*
.navbar-brand > img {
    width: 100%;
    display: none;
    }
img.navbrand-sm{
    display:none;
}
img.navbrand-xs {
    display: block;
    margin-top: -12px;
    }
    @media (min-width: 768px) {
    img.navbrand-sm {
    display: block;
    margin-top: -15px;        
    }
    img.navbrand-xs {
        display:none;
        }
    }
.navbar{
    background-color: rgba(255, 119, 0, 0.8);
}
.navbar-toggle{
    background-color: rgba(255, 119, 0);
}
.navbar > ul > li > a{
    color: white;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    line-height: 20px;
}
.navbar-collapse{
    background-color: none;
}*/
